@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>

<div class="row">

    <div class="col-sm-1 col-sm-offset-3">
        <a class="btn btn-lg btn-primary" href="@Url.Action("Index", "MyExchange")">Customers</a>
    </div>
    <div class="col-sm-1 col-sm-offset-3">
        <a class="btn btn-lg btn-success" href="@Url.Action("ReturnRequests", "Vendor")">Vendors</a>
    </div>

</div>