@{
    ViewBag.Title = "Gift Exchange";
}

<div ng-app="giftExchangeApp" ng-controller="giftExchangeController" style="padding-top:50px;">

    <div data-create-return ng-hide="confirmationPage==true"></div>
    <div data-confirm-return ng-show="confirmationPage==true"></div>





</div>




@section Scripts {
    <script src="~/Javascript/GiftExchangeApp/GiftExchangeApp.js"></script>
    <script src="~/Javascript/GiftExchangeApp/Directives/CreateReturnDirective.js"></script>
    <script src="~/Javascript/GiftExchangeApp/Directives/ComfirmReturnDirective.js"></script>
}
